# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

1.5 Создайте серию из 10 случайных названий рецептов.

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3

In [3]:
# 1.1 В файлах recipes_sample.csv и reviews_sample.csv находится информация об рецептах блюд и отзывах на эти рецепты соответственно.
#Загрузите данные из файлов в виде pd.DataFrame с названиями recipes и reviews. Обратите внимание на корректное считывание
#столбца с индексами в таблице reviews (безымянный столбец).
import pandas as pd
recipes=pd.read_csv('recipes_sample.csv')
reviews=pd.read_csv('reviews_sample.csv')
print("recipes DataFrame:")
print(recipes.head(5))
print("\nreviews DataFrame:")
print(reviews.head(5))

recipes DataFrame:
                                       name     id  minutes  contributor_id  \
0     george s at the cove  black bean soup  44123       90           35193
1        healthy for them  yogurt popsicles  67664       10           91970
2              i can t believe it s spinach  38798       30            1533
3                      italian  gut busters  35173       45           22724
4  love is in the air  beef fondue   sauces  84797       25            4470

    submitted  n_steps                                        description  \
0  2002-10-25      NaN  an original recipe created by chef scott meska...
1  2003-07-26      NaN  my children and their friends ask for my homem...
2  2002-08-29      NaN            these were so go, it surprised even me.
3  2002-07-27      NaN  my sister-in-law made these for us at a family...
4  2004-02-23      4.0  i think a fondue is a very romantic casual din...

   n_ingredients
0           18.0
1            NaN
2            8.0
3            NaN
4            NaN

reviews DataFrame:
   Unnamed: 0     user_id  recipe_id        date  rating  \
0      370476       21752      57993  2003-05-01       5
1      624300      431813     142201  2007-09-16       5
2      187037      400708     252013  2008-01-10       4
3      706134  2001852463     404716  2017-12-11       5
4      312179       95810     129396  2008-03-14       5

                                              review
0  Last week whole sides of frozen salmon fillet ...
1  So simple and so tasty!  I used a yellow capsi...
2  Very nice breakfast HH, easy to make and yummy...
3  These are a favorite for the holidays and so e...
4  Excellent soup!  The tomato flavor is just gre...

In [22]:
#1.2 Для каждой из таблиц выведите основные параметры: количество точек данных (строк);количество столбцов;тип данных каждого столбца.
print('Количество строк рецептов:', recipes.shape[0])
print('Количество столбцов рецептов:', recipes.shape[1])
print('тип данных каждого столбца рецептов:', "\n", recipes.dtypes)
print('Количество строк рецептов:', reviews.shape[0])
print('Количество столбцов рецептов:', reviews.shape[1])
print('тип данных каждого столбца рецептов:',  "\n", reviews.dtypes)

Количество строк рецептов: 30000
Количество столбцов рецептов: 9
тип данных каждого столбца рецептов:
 name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
review_count      float64
dtype: object
Количество строк рецептов: 126696
Количество столбцов рецептов: 6
тип данных каждого столбца рецептов:
 Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

In [23]:
#1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, 
#в отношении к общему количеству строк.
k=recipes.isnull().sum()
n=len(recipes)
f=k/n
print("Пропуски в столбцах таблицы recipes:", k)
print("Доля строк с пропусками в таблице recipes:", f*100)
k1=reviews.isnull().sum()
n1=len(reviews)
f1=k1/n1
print("Пропуски в столбцах таблицы reviews:", k)
print("Доля строк с пропусками в таблице reviews:", f*100)

Пропуски в столбцах таблицы recipes: name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
review_count          0
dtype: int64
Доля строк с пропусками в таблице recipes: name               0.000000
id                 0.000000
minutes            0.000000
contributor_id     0.000000
submitted          0.000000
n_steps           37.300000
description        2.076667
n_ingredients     29.600000
review_count       0.000000
dtype: float64
Пропуски в столбцах таблицы reviews: name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
review_count          0
dtype: int64
Доля строк с пропусками в таблице reviews: name               0.000000
id                 0.000000
minutes            0.000000
contributor_id     0.000000
submitted          0.000000
n_steps           37.300000
description        2.076667
n_ingredients     29.600000
review_count       0.000000
dtype: float64

In [24]:
#1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).
print("среднее значение для каждого из числовых столбцов recipes:",'\n', recipes.select_dtypes(include=['int','float']).mean())
print("среднее значение для каждого из числовых столбцов reviews:",'\n', reviews.select_dtypes(include=['int','float']).mean())

среднее значение для каждого из числовых столбцов recipes:
 id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
review_count      5.513333e-01
dtype: float64
среднее значение для каждого из числовых столбцов reviews:
 Unnamed: 0    5.660898e+05
user_id       1.408013e+08
recipe_id     1.600944e+05
rating        4.410802e+00
dtype: float64

In [25]:
# 1.5 Создайте серию из 10 случайных названий рецептов.
import random
print(pd.Series(random.sample(list(recipes['name']), 10)))

0      date and banan compote  nakhil wa mooz
1                         stuffed taco shells
2              jeff s spaghetti with zucchini
3    bacon and cream cheese stuffed mushrooms
4             haloumi and pesto tomato stacks
5                            lemonade muffins
6                                     peugeot
7               tequila chicken over linguine
8            brats with whiskey glazed onions
9                      stuffed chicken divine
dtype: object

In [26]:
# 1.6 Измените индекс в таблице reviews, пронумеровав строки, начиная с нуля.
reviews.reset_index(drop=True, inplace=True)
print(reviews[:5])

   Unnamed: 0     user_id  recipe_id        date  rating  \
0      370476       21752      57993  2003-05-01       5
1      624300      431813     142201  2007-09-16       5
2      187037      400708     252013  2008-01-10       4
3      706134  2001852463     404716  2017-12-11       5
4      312179       95810     129396  2008-03-14       5

                                              review
0  Last week whole sides of frozen salmon fillet ...
1  So simple and so tasty!  I used a yellow capsi...
2  Very nice breakfast HH, easy to make and yummy...
3  These are a favorite for the holidays and so e...
4  Excellent soup!  The tomato flavor is just gre...

In [27]:
# 1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.
print(recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)])

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients  \
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

       review_count
28              0.0
60              0.0
90              0.0
91              4.0
94              4.0
...             ...
29873           0.0
29874           1.0
29905           0.0
29980           0.0
29983           0.0

[2019 rows x 9 columns]

In [28]:
#2.1 Преобразуйте столбец submitted из таблицы recipes в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.
recipes['submitted']=pd.to_datetime(recipes['submitted'])
print(recipes.head(5))

                                       name     id  minutes  contributor_id  \
0     george s at the cove  black bean soup  44123       90           35193
1        healthy for them  yogurt popsicles  67664       10           91970
2              i can t believe it s spinach  38798       30            1533
3                      italian  gut busters  35173       45           22724
4  love is in the air  beef fondue   sauces  84797       25            4470

   submitted  n_steps                                        description  \
0 2002-10-25      NaN  an original recipe created by chef scott meska...
1 2003-07-26      NaN  my children and their friends ask for my homem...
2 2002-08-29      NaN            these were so go, it surprised even me.
3 2002-07-27      NaN  my sister-in-law made these for us at a family...
4 2004-02-23      4.0  i think a fondue is a very romantic casual din...

   n_ingredients  review_count
0           18.0           0.0
1            NaN           0.0
2            8.0           0.0
3            NaN           0.0
4            NaN           0.0

In [29]:
#2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.
print(recipes[(recipes['submitted'].dt.year<=2010)])

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29993                     zuni caf zucchini pickles  316950     2895
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29993           62264 2008-07-31      NaN
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29993  refrigerator pickles for some of the zucchini ...            8.0
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       review_count
0               0.0
1               0.0
2               0.0
3               0.0
4               0.0
...             ...
29993           0.0
29995           0.0
29996           0.0
29997           0.0
29999           0.0

[27661 rows x 9 columns]

In [ ]:
3.1 Добавьте в таблицу recipes столбец description_length, в котором хранится длина описания рецепта из столбца description.

3.2 Измените название каждого рецепта в таблице recipes таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

3.3 Добавьте в таблицу recipes столбец name_word_count, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [31]:
#3.1 Добавьте в таблицу recipes столбец description_length, в котором хранится длина описания рецепта из столбца description.
recipes['description_length']=recipes['description'].apply(lambda x: len(str(x)))
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,review_count,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,0.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,0.0,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,0.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,0.0,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,0.0,587

In [32]:
# 3.2 Измените название каждого рецепта в таблице recipes таким образом, чтобы каждое слово в названии начиналось с прописной буквы.
recipes['name'] = recipes['name'].apply(lambda x: ' '.join(word.capitalize() for word in x.split()))
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,review_count,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,0.0,330
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,0.0,255
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,0.0,39
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,0.0,154
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,0.0,587

In [ ]:
# 3.3 Добавьте в таблицу recipes столбец name_word_count, в котором хранится количество слов из названии рецепта 
#(считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться 
#несколько пробелов подряд.

In [33]:
recipes['name_word_count']=recipes['name'].apply(lambda x: len(str(x).split()))
recipes.head(5)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,review_count,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,0.0,330,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,0.0,255,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,0.0,39,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,0.0,154,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,0.0,587,8

In [34]:
# 4.1 Посчитайте количество рецептов, представленных каждым из участников (contributor_id). Какой участник добавил максимальное кол-во рецептов?
kolv=recipes['contributor_id'].value_counts()
print(kolv)
mkolv=max(kolv)
print(mkolv)

contributor_id
89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: count, Length: 8404, dtype: int64
421

In [35]:
# 4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.
srr=reviews.groupby('recipe_id')['rating'].mean()
mis = len(str(recipes)) - len(str(srr))
print(srr, mis)

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64 2779

In [36]:
# 4.3 Посчитайте количество рецептов с разбивкой по годам создания.
recipes['submitted']=pd.to_datetime(recipes['submitted'])
recipes['year_created']=recipes['submitted'].dt.year
recc=recipes['year_created'].value_counts()
print(recc)

year_created
2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: count, dtype: int64

In [37]:
# 5.1 При помощи объединения таблиц, создайте DataFrame, состоящий из четырех столбцов: id, name, user_id, rating. 
#Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. 
#Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном DataFrame.
newrr=recipes.merge(reviews, left_on='id', right_on='recipe_id')[['id', 'name', 'user_id', 'rating']]
newrr=newrr.dropna(subset=['rating'])
print(newrr)
netotz = recipes[~recipes['id'].isin(newrr['id'])] #выбирает те рецепты, айди которых не содер. в новой таблице, где есть отзывы
#print(netotz)
# Найдем строку в полученном DataFrame, соответствующую рецепту без отзывов (например, первый рецепт)
netotz1 = netotz.iloc[0]['id']
row = newrr[newrr['id'] == netotz1]
print(row)

            id                                  name  user_id  rating
0        44123  George S At The Cove Black Bean Soup   743566       5
1        44123  George S At The Cove Black Bean Soup    76503       5
2        44123  George S At The Cove Black Bean Soup    34206       5
3        67664     Healthy For Them Yogurt Popsicles   494084       5
4        67664     Healthy For Them Yogurt Popsicles   303445       5
...        ...                                   ...      ...     ...
126691  486161                           Zydeco Soup   305531       5
126692  486161                           Zydeco Soup  1271506       5
126693  486161                           Zydeco Soup   724631       5
126694  486161                           Zydeco Soup   133174       5
126695  298512  Cookies By Design Cookies On A Stick   804234       1

[126696 rows x 4 columns]
Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

In [38]:
# 5.2 При помощи объединения таблиц и группировок, создайте DataFrame, состоящий из трех столбцов: 
#recipe_id, name, review_count, где столбец review_count содержит кол-во отзывов, оставленных на рецепт recipe_id. 
#У рецептов, на которые не оставлен ни один отзыв, в столбце review_count должен быть указан 0. 
#Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту,
#в полученном DataFrame.

recipes_with_reviews =recipes.merge(reviews, left_on='id', right_on='recipe_id')
# Группировка данных по столбцу 'recipe_id' и подсчет количества отзывов
review_counts = recipes_with_reviews.groupby('recipe_id')['rating'].count()
recipes['review_count'] = review_counts
recipes['review_count'].fillna(0, inplace=True)
recipe_without_reviews = recipes[recipes['review_count'] == 0]
print("Рецепты, не имеющие отзывов:")
recipe_without_reviews.head()

Рецепты, не имеющие отзывов:

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,review_count,description_length,name_word_count,year_created
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,0.0,330,8,2002
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,0.0,255,5,2003
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,0.0,39,7,2002
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,0.0,154,3,2002
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,0.0,587,8,2004

In [ ]:
# 5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?
newrr2 = recipes.merge(reviews, left_on='id', right_on='recipe_id')

# Считаем средний рейтинг для каждого рецепта
srrat = newrr2.groupby('date')['rating'].mean()

# Находим рецепт с наименьшим средним рейтингом и год его добавления
minsrrat = srrat.idxmin()
yearmin = recipes[recipes['id']] == minsrrat['submitted'].values[0]

print(f"Рецепт с наименьшим средним рейтингом '{minsrrat}' был добавлен в {yearmin} году.")

In [40]:
# 6.1 Отсортируйте таблицу в порядке убывания величины столбца name_word_count и сохраните результаты выполнения заданий 3.1-3.3
#в csv файл.
sorti=recipes.sort_values(by='name_word_count', ascending=False)
sorti.to_csv('sorti.csv', index=False)